body {
    /* margin: 40px; */
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3px;
    background-color: rgb(41, 39, 39);
    color: #444;
  }
  
  .box {
    background-color: #444;
    display: inline-flex;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }

  .wrapper img {
      /* height: 500px; */
      /* width: 400px; */
      width: 350px;
      padding: 0px;
      border: 5px solid gray;
      margin-left: 0px;
  }

  .boxtext {
    text-align: center;

  }

  #HASH {
    display: flex;
    justify-content: space-between;
  }

  .navbar-custom {
    background-color: black;
    border-bottom: 1px solid  #44d62c;
    width: 100%;
}

  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
      color: green;
  }


  i {
    color: grey;
  }

  .navitems {
    color: grey;
    text-decoration: none;
  }

  .navitems:hover {
    color: white;
  }

  .navbar {
    width: 100%;
    padding-top:0 !important;
  }

.hero-img {
  display: flex;
  width: 100%;
}
 

.footer-custom {
  background-color: black;
  color: white;
}

#box1 {
  /* background-color: pink; */
  background-image: url(/cloning-project/img/razer-esl2-homepage-desktop.jpg);
  /* background-color: pink; */
  height: 500px;
}

#box2 {
  /* background-color: pink; */
  background-image: url(/cloning-project/img/razer-blade-17-2022-b-950x580-desktop-new.jpg);
  height: 500px;
}

#box3 {
  /* background-color: pink; */
  background-image: url(/cloning-project/img/razer-esl2-homepage-desktop.jpg);
  height: 500px;

}

#box4 {
  /* background-color: pink; */
  background-image: url(/cloning-project/img/razer-esl2-homepage-desktop.jpg);
  height: 500px;

}

#box5 {
  /* background-color: pink; */
  background-image: url(/cloning-project/img/razer-esl2-homepage-desktop.jpg);
  height: 500px;

}

#box6 {
  /* background-color: pink; */
  background-image: url(/cloning-project/img/razer-esl2-homepage-desktop.jpg);
  height: 500px;

}


