/* @import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Roboto:wght@300&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

nav ul{

  margin-right: 25px;
  padding-left: 50px;
  padding-right: 40px;
}

nav ul li {
  display:inline-block;
  margin-left: 25px;
    
}
  
nav ul li a {
  text-decoration: none;
  color: grey;
  font-size: 16px;
  padding: 25px;
}

nav ul li a:hover{
  color: white;
}

i {
  color: grey;
  padding: 26px;
}
i:hover{
  color: white;
}

nav {
  border-bottom: 1px solid #0af30a;
  margin-bottom: 0px;
  background-color: black;
  height: 65px;
}

.banner{
  width: 100%;
  background-color:  rgb(70, 68, 68);
  margin-top: 0px;
  height: 45px;
}

.topbanner {
  text-align: center;
  color: rgb(241, 226, 226);
  padding: 15px;
  font-size: 14px;
  margin-bottom: 0px;
}

  
  .main-imgs {
    padding: 0;
    background-color: rgb(15, 15, 15);
  }

  .hero-main {
    color: #fff;
    align-items: baseline;
    text-align: center;
    
  }

  #hero-titles {
    font-size: 55px;
  }

  .hero-1 {
    background-image: url(./img/razer-huntsman-mini-analog-homepage-desktop1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    background-position-y: 90%;
    border-bottom: solid 9px rgb(32, 32, 32);
    
  }

  h2 {
    font-weight: 500;
    font-size: 26px;
  }

  .hero-2 {
    background-image: url(./img/win-at-work-campaign-homepage-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    border-bottom: solid 9px rgb(32, 32, 32);

  }

  .hero-3 {
    background-image: url(./img/razer-customs-and-gudetama-homepage-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    border-bottom: solid 5px rgb(32, 32, 32);

  }

  .wrapper {
    display: grid; 
    grid-template-columns: auto auto; 
    grid-gap: 9px; 
    background-color: rgb(27, 25, 25);
    color: rgb(39, 39, 39); 
    
    /* align-items: center; */
  }

  
  
  .boxes-main {
    color: #fff;
    padding: 20px;
    font-size: 150%;
    align-items:baseline;
    text-align: center;
  }

  .boxtext {
    text-align: center;
    display: inline-block;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Roboto', sans-serif;

  }

  .HASH {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin-top: 5px;
  }



  h3 {
    font-weight: 200;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Roboto', sans-serif;

  }


  .arrow {
    border: solid rgb(14, 248, 6);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  

.hero-img {
  display: flex;
  width: 100%;
}
 
#box-one {
  background-image: url(./img/razer-blade-17-2022-b-950x580-desktop-new.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  
  
}

#box-two {
  background-image: url(./img/razerstore-rewards-desktop.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  
  
}

#box-three {
  background-image: url(./img/outplay-your-competition-b-950x580-desktop.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#box-four {
  background-image: url(./img/complete-your-setup-homepage-desktop.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}


#box-five {
  background-image: url(./img/razer-iskur-gaming-chairs-family-b-950x580-desktop.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

#box-six {
  background-image: url(./img/razer-gold-new-user-promo-feb-desktop.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

/* footer starts */

.foot{
  background-color: rgb(27, 24, 24);
  height: 350px;
  
}

.allboxes{ 
  display:flex;
  justify-content: space-around; 
  margin: 0px;
  font-size: 15px;
}  

.box1{
  align-items: baseline;
  color: grey;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 12px;
}

.box2{
  align-items: baseline;
  color: grey;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 12px;
}

.box3{
  align-items: center;
  color: grey;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 12px;
}

.box4{
  align-items: baseline;
  color: grey;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 12px;
}

.box5{
  align-items: baseline;
  color: grey;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 12px;
}

.heading{
  color: white;
  padding-bottom: 15px;
  font-size: 15px;
}

.ft{
  padding-bottom: 15px;
  font-size: 15px;
}

.ft:hover{
  color: white;
  text-decoration: underline;
}

.fa-facebook{
  
  color: rgb(16, 235, 16);
  text-decoration: none;
  padding: 10px;
  padding-left: 12px;
}

.fa-twitter{
  color: rgb(16, 235, 16);
  text-decoration: none;
  padding: 10px;
}

.fa-instagram{
  color: rgb(16, 235, 16);
  text-decoration: none;
  padding: 10px;
}

.green{
  color: #08ee08;
  padding-bottom: 20px;
  font-size: 16px;
}

.radious{
          
  border-radius: 100%;
  border: 1.5px  solid #08ee08;
  margin-left:5px ;
  text-align: center;
}

.social-media{
  margin-left: 80px;
  color: hsl(120, 90%, 23%);
  float: right;
}

.hr-line{
         
  margin-left: 60px; 
  margin-right: 50px;
  background-color: rgb(83, 80, 80);
}

.last{
  display:flex;
  font-size: 15px;
  padding-left: 12px;
  padding-right: 20px;
}

.line1{
  align-items: baseline;
  color: grey;
  padding: 15px 30px 20px 65px;
}

.line2{
  align-items: baseline;
  color: grey;
  padding: 15px 15px 20px;
}

.line3{
  align-items: baseline;
  color: grey;
  padding: 15px 15px 20px;
}
.line4{
  align-items: baseline;
  color: grey;
  padding: 15px 15px 20px;
}

.line5{
  align-items: baseline;
  color: grey;
  padding: 15px 15px 20px;
}
.line6{
  align-items: baseline;
  color: grey;
  padding: 15px 5px 20px 255px;
  color: white;
}

.line7{
  align-items: center;
  color: grey;
  padding: 15px 18px 20px 5px ;
  
  
}
.pipe{
  color:grey;
  margin-top: 15px;
}

.last2{
  float: right;
}

.lastcontents:hover{
  color: white;
  text-decoration: underline;
}


/* footer ends */

@media screen and (max-width:1395px){
  .line1 {padding: 15px 15px 16px 50px;

  }
}


@media screen and (max-width:1400px){
nav ul {
  margin-right: 15px;
  padding-left: 35px;
  padding-right: 15px;
}
}
